body {
    background-color: rgb(240, 240, 240);
}

.cuervo {
    max-width: 55px;
    filter: invert(48%) sepia(79%) saturate(1076%) hue-rotate(66deg) brightness(60%) contrast(119%);
}

.neo-header {
    color: rgb(49, 121, 76);
}

#contenido {
    border-radius: 10px;
}

#footer {
    background-color: rgba(62, 143, 93, 1);
}